.hero.hero-image{
    background-image: url('../../public/images/foodVariety.jpeg');
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
    z-index: -1;
}