.App{
    background-color: #F2E8CF;
    height: 100vh;
}

.home-wrapper{
    position: relative;
}

.hero-image{
    background-image: url('../public/images/foodVariety.jpeg');
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.featured{
    position: absolute;
  bottom: -50px; /* Half of the height of the featured recipes to pull it up over the hero image */
  left: 0;
  right: 0;
  margin: auto; /* Centers the box if it has a set width */
  height: 100px; /* Adjust as needed */
  width: 80%; /* Adjust as needed */
  background: white; /* Your desired background */
  z-index: 10; /* Ensures it's above the hero image */
  /* Additional styling */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}